@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Source+Code+Pro:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
  
    
}
body{
    font-family: 'Open Sans', sans-serif
    
}

/* header style start */
/* nav style start */
.header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.nav-others {
    font-weight: 500;
    font-size: 18px;
    color: #424242;




}

.nav-others>ul {
    display: flex;






}

.nav-others li {
    list-style: none;
    margin-left: 25px;
}



/* nav style end */
/* banner style start */
.banners {
    text-align: center;
}

.banner {
    margin-bottom: 33px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.btn {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px;
    margin-bottom: 50px;
}

.banner-img {
    margin-bottom: 45px;
}


/* banner style end */
/* header style end */



/* main style start */
/* features style start */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 684px;
    margin-bottom: 130px;
    margin-left: 301px;
}

.features-right {
    margin-right: 301px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;

}

.black {
    color: #131313;
}

.orange {
    color: #FF900E;
}

.features-description {
    color: #727272;
    margin-bottom: 32px;
}

/* features style end */
/* features-content love and enjoy style start */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-features-content {
    margin-left: 240px;
    margin-bottom: 168px;
}

.features-content-title {
    border-left: 2px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    padding-left: 21px;

}

.features-content-description {

    color: #727272;
    margin-bottom: 30px;
}

.features-card {
    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.features-card-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;

}

.features-card-description {
    color: #727272;
}

.right-features-content {
    margin-bottom: 130px;
}

.feature-btn-sec {
    /* position:; */
    top: 5px;

}

.experience-btn {

    padding: 46px 42px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    position: relative;
    bottom: 120px;
    right: 120px;
    
    /* margin-left: 54px; */
}

.experience {
    font-size: 25px;
}


/* features-content love and enjoy style end */

/* Some Facts style start */
.facts {
    margin-left: 350px;

}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;

}

.facts-description {
    color: #727272;
    margin-bottom: 101px;

}

/* Some Facts style end */
/* activities style start */
.activities {

    margin-right: 280px;
}

.activity {
    display: flex;
    justify-content: space-between;
    margin-left: 385px;

}

.activity-1 {
    /* height: 242px;
      width: 242px; */
    padding: 25px 35px 40px 45px;
    /* padding-top: 45px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 36px; */
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 180px;
   
}
.activity-1:hover{
    transform: rotate(30deg);
    background-color: #eae6e6;
}


/* activities style end */
/* Sponsors style start */
/* .sponsors {} */

.sponsor {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;

}

.sponsors-descriptions {
    color: #727272;
}

.sponsor-list {
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 130px;
}

.sponsor-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}

/* Sponsors style end */
/* main style end */
/* contact style start */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f9f9f9;
    border-radius: 8px;
    margin-left: 240px;
    margin-right:240px;
    margin-bottom: 35px;
    box-shadow: 10px 10px 10px 10px gray;
}
/* .contact-left{


} */
.contact-title{
    font-size: 25px;
    font-weight: 600;

}
.contact-details{
    font-size: 18px;
    color: #727272;
    margin-bottom: 15px;
}
.contact-right{
    padding: 30px;

}
.contact-right form{
    padding: 20px;
    
}
.contact-right input[type="text"]{
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.contact-right input[type="email"]{
    padding: 10px;
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 20px;

}


/* contact style end */
/* footer style start */
.footer {
    text-align: center;
    /* width: 1440px; */
    /* height: 100px; */

    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 240px;
    margin-right:240px;
    margin-bottom: 216px;
    padding: 74px 410px;

}

.footer-description {
    font-size: 20px;
}

/* footer style end */